
services:

  oauth-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    container_name: oauth2-proxy
    ports:
      - "4180:4180"
    volumes:
      - ./conf/oauth2-proxy.cfg:/etc/oauth2-proxy/oauth2-proxy.cfg
    command: ["--config=/etc/oauth2-proxy/oauth2-proxy.cfg"]
    restart: unless-stopped

  ui-agent:
    build:
      context: ./ui-agent
      dockerfile: Dockerfile
    container_name: ui-agent-app
    ports:
      - "8000:8000"
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    volumes:
      - ./ui-agent/index.html:/root/index.html
      - ./ui-agent/demo.html:/root/demo.html
    restart: unless-stopped


